{:app
 {:youtube
  {:output-format "%(title)s-%(epoch)s.%(ext)s"
   :output-folder "/tmp/"}
  :coloring
  {:api-key    #env GOOGLE_API_KEY
   :cx         #env GOOGLE_SEARCH_ENGINE_ID
   :search-url "https://www.googleapis.com/customsearch/v1/siterestrict"}
  :telegram
  {:bot-api-key #env TELEGRAM_BOT_API_TOKEN}
  :aws
  {:s3-bucket-name "telegram-bot-downloads"
   :s3-access-key  #env AWS_ACCESS_KEY_ID
   :s3-secret-key  #env AWS_SECRET_ACCESS_KEY
   :s3-endpoint    "eu-central-1"}}}
